<?xml version="1.0"?>
<robot name="table" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="x" default="0" />
  <xacro:arg name="y" default="0" />
  <xacro:arg name="z" default="0" />
  <xacro:arg name="l" default="0.4" />
  <xacro:arg name="h" default="0.2" />
  <xacro:arg name="w" default="0.5" />
  <xacro:arg name="color" default="blue" />
  <xacro:property name="h" value="$(arg h)" />
  <link name="table">
    <collision>
      <origin xyz="0 0 ${h/2.0}" rpy="0 0 0"/>
      <geometry>
        <box size="$(arg l) $(arg w) $(arg h)"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 ${h/2.0}" rpy="0 0 0"/>
      <geometry>
        <box size="$(arg l) $(arg w) $(arg h)"/>
      </geometry>
    </visual>
    <surface>
    <friction>
      <ode>
        <mu>100</mu>
        <mu2>100</mu2>
      </ode>
    </friction>
  </surface> 
  <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="10"/>
    <inertia
      ixx="0.24" ixy="0.0" ixz="0.0"
      iyy="0.166" iyz="0.0"
      izz="0.34"/>
  </inertial>
  </link>
  <!-- <link name="table">
    <inertial> -->
      <!-- <origin xyz="$(arg x) $(arg y) $(arg z)" /> -->
      <!-- <mass value="10.0" /> -->
      <!-- <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" /> -->
    <!-- </inertial>
    <visual> -->
      <!-- <origin xyz="$(arg x) $(arg y) $(arg z)" /> -->
      <!-- <geometry>
        <box size="$(arg l) $(arg w) $(arg h)" />
      </geometry>
    </visual>
    <collision> -->
      <!-- <origin xyz="$(arg x) $(arg y) $(arg z)" /> -->
      <!-- <geometry>
        <box size="$(arg l) $(arg w) $(arg h)" />
      </geometry>
    </collision> -->
    <!-- <surface>
      <friction>
        <ode>
          <mu>100</mu>
          <mu2>100</mu2>
        </ode>
      </friction>
    </surface> -->
  <!-- </link> -->
  <gazebo reference="table">
     <!-- <origin xyz="$(arg x) $(arg y) $(arg z)" /> -->
    <visual>
      <material>
        <xacro:include filename="$(find ros2_agents)/sim/object_descriptions/urdf/colors.urdf.xacro" />
        <xacro:color color="$(arg color)" />
      </material>
      <!-- <origin xyz="$(arg x) $(arg y) $(arg z)" /> -->
      <!-- <geometry>
        <box size="$(arg l) $(arg w) $(arg h)" />
      </geometry> -->
    </visual>
    <dampingFactor>0.005</dampingFactor>
    <kp>1000000</kp>
    <kd>1.0</kd>
    <mu1>1000.0</mu1>
    <mu2>1000.0</mu2>
    <minDepth>0.001</minDepth>
  </gazebo>
</robot>