<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bar_clamp">
  <xacro:arg name="x" default="0" />
  <xacro:arg name="y" default="0" />
  <xacro:arg name="z" default="0" />
  <xacro:arg name="color" default="black" />
  <link name="barclamp">
    <visual>
      <origin xyz="$(arg x) $(arg y) $(arg z)" />
      <geometry>
        <mesh filename="$(find ros2_transformers)/meshes/objects/bar_clamp.dae" />
	    </geometry>
    </visual>
    <collision>
      <origin xyz="$(arg x) $(arg y) $(arg z)" />
      <geometry>
        <mesh filename="$(find ros2_transformers)/meshes/objects/bar_clamp.dae" />
	    </geometry>
    </collision>
	<inertial>
      <mass value="0.03" />
      <inertia ixx="0.05" iyy="0.05" izz="0.05" ixy="0.0" ixz="0.0" iyz="0.0" />
	</inertial>
  </link>

  <gazebo reference="barclamp">
    <visual>
      <material>
        <xacro:include filename="$(find ros2_transformers)/urdf/colors.urdf.xacro" />
        <xacro:color color="$(arg color)" />
      </material>

    </visual>
      <dampingFactor>0.005</dampingFactor>
      <kp>1000000</kp>
      <kd>1.0</kd>
      <mu1>1000.0</mu1>
      <mu2>1000.0</mu2>
      <minDepth>0.001</minDepth>
  </gazebo>
</robot>
