<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="color" params="color:=blue">
        <xacro:property name="blue" value="0 0 1 1" />
        <xacro:property name="red" value="1 0 0 1" />
        <xacro:property name="green" value="0 1 0 1" />
        <xacro:property name="yellow" value="1 1 0 1" />
        <xacro:property name="orange" value="1 0.5 0 1" />
        <xacro:property name="black" value="0 0 0 1" />
        <xacro:macro name="rgba">
            <xacro:if value="${color == 'grey'}">
                0.5 0.5 0.5 1
            </xacro:if>
            <xacro:if value="${color == 'black'}">
                0 0 0 1
            </xacro:if>
            <xacro:if value="${color == 'blue'}">
                0 0 1 1
            </xacro:if>
            <xacro:if value="${color == 'red'}">
                1 0 0 1
            </xacro:if>
            <xacro:if value="${color == 'green'}">
                0 1 0 1
            </xacro:if>
            <xacro:if value="${color == 'yellow'}">
                1 1 0 1
            </xacro:if>
            <xacro:if value="${color == 'orange'}">
                1 0.5 0 1
            </xacro:if>
        </xacro:macro>
        <diffuse><xacro:rgba/></diffuse>
        <specular><xacro:rgba/></specular>
        <ambient><xacro:rgba/></ambient>
    </xacro:macro>
</robot>