<?xml version="1.0"?>
<robot name="block" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="x" default="0" />
    <xacro:arg name="y" default="0" />
    <xacro:arg name="z" default="0" />
    <xacro:arg name="color" default="blue" />
    <origin xyz="$(arg x) $(arg y) $(arg z)" />
    <link name="block">
        <inertial>
            <origin xyz="$(arg x) $(arg y) $(arg z)" />
            <mass value="0.0127459456" />
            <inertia ixx="0.00000137052" ixy="0.0" ixz="0.0" iyy="0.00000137052" iyz="0.0"
                izz="0.00000137052" />
        </inertial>
        <visual>
            <origin xyz="$(arg x) $(arg y) $(arg z)" />
            <geometry>
                <box size="0.0254 0.0254 0.0254" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="$(arg x) $(arg y) $(arg z)" />
            <geometry>
                <box size="0.0254 0.0254 0.0254" />
            </geometry>
        </collision>
    </link>
    <gazebo reference="block">
        <visual>
            <material>
                <xacro:include filename="$(find ros2_transformers)/tasks/sim/object_descriptions/urdf/colors.urdf.xacro" />
                <xacro:color color="$(arg color)" />
            </material>

        </visual>
        <mu1>100</mu1>
        <mu2>100</mu2>
        <kp>1000000.0</kp>
        <kd>100000.0</kd>
        <slip1>0</slip1>
        <slip2>0</slip2>
        <minDepth>0.001</minDepth>
        <maxVel>0</maxVel>
        <torsional>
            <ode>
                <coefficient>1000</coefficient>
                <slip>0</slip>
            </ode>
        </torsional>
    </gazebo>
</robot>