<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="fake_sensors">
  <plugin
  filename="ignition-gazebo-sensors-system"
  name="ignition::gazebo::systems::Sensors">
  </plugin>
</xacro:macro>


<xacro:macro name="fake_sensor_interface">
<gazebo reference="camera_${robot_name}_link">
    <sensor name="camera" type="camera">
      <topic>/camera</topic>
      <ignition_frame_id>camera_${robot_name}_link</ignition_frame_id>
      <always_on>true</always_on>
      <update_rate>5</update_rate>
      <camera name="camera">
        <optical_frame_id>camera_${robot_name}_link</optical_frame_id>
        <horizontal_fov>0.994837</horizontal_fov>
        <update_rate>10</update_rate>
        <image>
          <format>R8G8B8</format>
          <width>640</width>
          <height>480</height>
        </image>
        <clip>
          <near>0.01</near>
          <far>6</far>
        </clip>

        <distortion>
          <k1>0.00000001</k1>
          <k2>0.00000001</k2>
          <k3>0.00000001</k3>
          <p1>0.00000001</p1>
          <p2>0.00000001</p2>
        </distortion>

        <!-- <intrinsics>
          <cx>0</cx>
          <cy>0</cy>
        </intrinsics>
        <projection>
          <fx>0</fx>
          <fy>0</fy>
        </projection> -->
      </camera>
    </sensor>
    

    <sensor name="rgbd_sensor" type="rgbd_camera">
      <topic>/rgbd_camera</topic>
      <ignition_frame_id>camera_${robot_name}_link</ignition_frame_id>
      <always_on>true</always_on>
      <update_rate>10</update_rate>

      <camera name="rgbd_camera">
        <optical_frame_id>camera_${robot_name}_link</optical_frame_id>
        <horizontal_fov>0.994837</horizontal_fov>
        <image>
          <format>R8G8B8</format>
          <width>640</width>
          <height>480</height>
        </image>
        <clip>
          <near>0.3</near>
          <far>6</far>
        </clip>

        <depth_camera>
          <output>
            sensor_msgs/msg/PointCloud2
          </output>
          <clip>
            <near>0.3</near>
            <far>6</far>
          </clip>
        </depth_camera>

        <distortion>
          <k1>0.00000001</k1>
          <k2>0.00000001</k2>
          <k3>0.00000001</k3>
          <p1>0.00000001</p1>
          <p2>0.00000001</p2>
        </distortion>

        <!-- <intrinsics>
          <cx>0</cx>
          <cy>0</cy>
        </intrinsics>
        <projection>
          <fx>0</fx>
          <fy>0</fy>
        </projection> -->
      </camera>
    
    </sensor>
  </gazebo>
</xacro:macro>
  </robot>
