<?xml version="1.0"?>
<launch>
    <arg name="object" default="cylinder" />
    <arg name="pcd" default="" />
    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg if="$(arg debug)" name="launch_prefix" value="gdb -ex run --args" />

    <arg name="action_name" value="generate_grasps" doc="action name space"/>
    <arg name="frame_id" value="world" doc="frame of the grasps sent to MTC"/>
    <arg name="point_cloud_topic" value="/camera/depth/color/points" doc="point cloud topic name"/>
    <!-- <arg name="path_to_gpd_config" value="$(find moveit_task_constructor_gpd)/config/gpd_config.yaml" doc="path to GPD config and gripper params file"/> -->

    <!-- Run MTC pick and place -->
    <node name="mtc_task" pkg="ros2_transformers" type="salad_demo" output="screen" launch-prefix="$(arg launch_prefix)">
        <param name="execute" value="true" />
        <param name="action_name" value="$(arg action_name)"/>
        <rosparam command="load" file="$(find ros2_transformers)/config/salad_config.yaml" />
        <rosparam command="load" file="$(find ros2_transformers)/config/mustard.yaml"/>
        <rosparam command="load" file="$(find ros2_transformers)/config/ladle.yaml"/>
    </node>

</launch>
