<?xml version="1.0"?>
<launch>
 <arg name="debug" default="false" />
     <arg unless="$(arg debug)" name="launch_prefix" value="" />
     <arg if="$(arg debug)" name="launch_prefix" value="gdb -ex run --args" />
     <!-- <arg name="block1_args" default="x:=0.5 y:=0, z:=0.113 color:=green" />
     <arg name="block2_args" default="x:=0.5 y:=0, z:=0.139 color:=red" />
     <arg name="block3_args" default="x:=0.5 y:=0, z:=0.1639 color:=yellow" />
     <arg name="table_args" default="x:=0.5 y:=0 z:=0.05 l:=0.4 w:=0.5 h:=0.1" /> -->
     <!-- <param name="use_sim_time" value="true" /> -->
     <!-- Scene Params. -->
     <arg name="x" default="0.4" />
     <arg name="y" default="-0.1" />
     <arg name="block1_args" default="x:=$(arg x) y:=$(arg y), z:=0.013 color:=green" />
     <arg name="block2_args" default="x:=$(arg x) y:=$(arg y) z:=0.039 color:=yellow" />
     <arg name="block3_args" default="x:=$(arg x) y:=$(arg y) z:=0.0639 color:=red" />
     <arg name="table_args" default="x:=0.4 y:=0 z:=0.00001 l:=0.4 w:=0.5 h:=0.00002" />



     <arg name="use_gazebo" default="true" />
     <arg name="use_camera" default="true" />
     <arg name="use_fake" value="false" if="$(arg use_gazebo)" />
     <arg name="use_fake" value="true" unless="$(arg use_gazebo)" />
     <!-- Load panda demo with MTC's execution capability -->
     <include file="$(find interbotix_xslocobot_moveit)/launch/xslocobot_moveit.launch">
          <arg name="use_gazebo" value="$(arg use_gazebo)" />
          <arg name="use_fake" value="$(arg use_fake)" />
          <arg name="use_moveit_rviz" value="false" />
          <arg name="use_camera" value="$(arg use_camera)" />
     </include>

     <param name="table_desc" command="$(find xacro)/xacro $(arg table_args) '$(find ros2_transformers)/urdf/objects/table.urdf.xacro'" />
     <node name="spawn_gazebo_table" pkg="gazebo_ros" type="spawn_model" args="-urdf -param table_desc -model table" respawn="false" output="screen" />
     <param name="block1_desc" command="$(find xacro)/xacro $(arg block1_args) '$(find gazebo_models)/block/block.urdf.xacro'" />
     <node name="spawn_gazebo_block1" pkg="gazebo_ros" type="spawn_model" args="-urdf -param block1_desc -model block1" respawn="false" output="screen" />
     <param name="block2_desc" command="$(find xacro)/xacro $(arg block2_args) '$(find gazebo_models)/block/block.urdf.xacro'" />
     -->
     <node name="spawn_gazebo_block2" pkg="gazebo_ros" type="spawn_model" args="-urdf -param block2_desc -model block2" respawn="false" output="screen" />
     <param name="block3_desc" command="$(find xacro)/xacro $(arg block3_args) '$(find gazebo_models)/block/block.urdf.xacro'" />
     <node name="spawn_gazebo_block3" pkg="gazebo_ros" type="spawn_model" args="-urdf -param block3_desc -model block3" respawn="false" output="screen" />

     <param name="move_group/capabilities" value="move_group/ExecuteTaskSolutionCapability" />

        <arg name="rviz_config" default="mtc_salad.rviz" />
     <!-- Run rviz with prepared config -->
     <include file="$(find interbotix_xslocobot_moveit)/launch/moveit_rviz.launch">
          <!-- <include ns="locobot" file="$(find interbotix_xslocobot_moveit)/launch/moveit_rviz.launch"> -->
          <arg name="rviz_config" value="$(find moveit_task_constructor_demo)/config/$(arg rviz_config)" />
     </include>
     
     <!-- <param name="locobot/move_group/capabilities" value="move_group/ExecuteTaskSolutionCapability" /> -->
       <arg name="cartesian_limits" default="false" doc="specify cartesian limits on cloud in frame of optical link"/>
  <arg name="remove_table" default="false" doc="segment table plane from object"/>
        <arg name="xyz_lower_limits" default="[-1, -1, 0.0]" doc="lower x,y,z cartesian limits on cloud" />
    <arg name="xyz_upper_limits" default="[1, 1, 0.75]" doc="upper x,y,z cartesian limits on cloud" />

    <arg name="point_cloud_topic" value="/camera/depth/color/points" doc="point cloud topic name" />
    <arg name="cloud_dir" value="$(find moveit_task_constructor_gpd)/data/pointclouds/block_world/" doc="directory to point clouds" />

    <!-- Point cloud data collection -->
    <node name="point_cloud_server" pkg="moveit_task_constructor_gpd" type="point_cloud_server" output="screen">
        <param name="cartesian_limits" value="$(arg cartesian_limits)" />
        <rosparam param="xyz_lower_limits" subst_value="True">$(arg xyz_lower_limits)</rosparam>
        <rosparam param="xyz_upper_limits" subst_value="True">$(arg xyz_upper_limits)</rosparam>
        <param name="point_cloud_topic" value="$(arg point_cloud_topic)" />
        <param name="cloud_dir" value="$(arg cloud_dir)" />
        <param name="remove_table" value="true" />
    </node>

   
</launch>
