<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="mobile_arm">

      <joint name="arm_base_link_joint" type="fixed">
        <axis xyz="0 0 0"/>
        <parent link="${robot_name}_plate_link"/>
        <child link="${robot_name}_arm_base_link"/>
      </joint>


    <xacro:include filename="$(find ros2_agents)/robots/locobot_wx250s/description/urdf/arms/mobile_wx250s.urdf.xacro"/>

    <gazebo reference="${robot_name}_arm_base_link">
      <material>Gazebo/DarkGrey</material>
      <dampingFactor>0.01</dampingFactor>
    </gazebo>

    <gazebo reference="arm_base_link_joint">
      <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>

    <gazebo reference="${robot_name}_shoulder_link">
      <material>Gazebo/DarkGrey</material>
      <dampingFactor>0.01</dampingFactor>
      <self_collide>true</self_collide>
    </gazebo>

    <gazebo reference="${robot_name}_upper_arm_link">
      <material>Gazebo/DarkGrey</material>
      <dampingFactor>0.01</dampingFactor>
      <self_collide>true</self_collide>
    </gazebo>

    <gazebo reference="${robot_name}_forearm_link">
      <material>Gazebo/DarkGrey</material>
      <dampingFactor>0.01</dampingFactor>
      <self_collide>true</self_collide>
    </gazebo>

    <gazebo reference="${robot_name}_upper_forearm_link">
      <material>Gazebo/DarkGrey</material>
      <dampingFactor>0.01</dampingFactor>
      <self_collide>true</self_collide>
    </gazebo>

    <gazebo reference="${robot_name}_lower_forearm_link">
      <material>Gazebo/DarkGrey</material>
      <dampingFactor>0.01</dampingFactor>
      <self_collide>true</self_collide>
    </gazebo>

    <gazebo reference="${robot_name}_wrist_link">
      <material>Gazebo/DarkGrey</material>
      <dampingFactor>0.01</dampingFactor>
      <self_collide>true</self_collide>
    </gazebo>

    <gazebo reference="${robot_name}_gripper_link">
      <material>Gazebo/DarkGrey</material>
      <dampingFactor>0.01</dampingFactor>
    </gazebo>

    <gazebo reference="${robot_name}_gripper_prop_link">
      <dampingFactor>0.01</dampingFactor>
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="${robot_name}_gripper_bar_link">
      <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="${robot_name}_left_finger_link">
      <material>Gazebo/DarkGrey</material>
      <dampingFactor>0.01</dampingFactor>
    </gazebo>

    <gazebo reference="${robot_name}_right_finger_link">
      <material>Gazebo/DarkGrey</material>
      <dampingFactor>0.01</dampingFactor>
    </gazebo>

    <gazebo reference="arm_base_link_joint">
      <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>

    <gazebo reference="plate">
      <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>

    <gazebo reference="ar_tag">
      <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>

    <gazebo reference="ee_arm">
      <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>

    <gazebo reference="gripper_bar">
      <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>

    <gazebo reference="ee_bar">
      <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>

    <gazebo reference="ee_gripper">
      <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>

  </xacro:macro>

</robot>